.container {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;
    padding: 0 12px;
  }
}

.list {
  display: flex;
  margin-bottom: 30px;

  .cover,
  .brief__wrap {
    width: 50%;
  }
}

.brief__wrap {
  text-align: left;

  h3,
  p {
    margin-bottom: 16px;
    color: #000;
  }
}

.list__skill {
  margin-right: 10px;
  padding: 5px;
  line-height: 40px;
  font-size: 14px;
  background: rgba($color: #333, $alpha: 0.3);
  color: #fff;
}