.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// header
.header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 10px 0;
  background: rgba($color: #fafafa, $alpha: 1.0);
  border-bottom: 1px solid #f2f2f2;
}

.header__logo {
  &::after {
    content: '◦◦◦';
    margin-left: 6px;
  }
}

.header__list {
  display: flex;
  
  a {
    margin-left: 12px;
  }

  .selected {
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
  }
}

// main content
.content {
  flex: 1;
  text-align: center;
}

// footer
.footer {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  color: #555;
  background: #fafafa;
  border-top: 1px solid #f2f2f2;

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    margin-top: 8px;
  }
}